<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a th:href="@{/picture}">Back pictures list</a></p>
<form th:action="@{/picture/create}" method="post" th:object="${picture}">
    <table>
        <tr>
            <td>Ma Tranh</td>
            <td><input type="text" th:field="*{maPicture}"></td>
        </tr>
        <tr>
            <td>Chieu Dai</td>
            <td><input type="text" th:field="*{dai}"></td>
        </tr>
        <tr>
            <td>Chieu Rong</td>
            <td><input type="text" th:field="*{rong}"></td>
        </tr>
        <tr>
            <td>Chat Lieu</td>
            <td><input type="text" th:field="*{chatLieu}"></td>
        </tr>
        <tr>
            <td>Mo Ta</td>
            <td><input type="text" th:field="*{moTa}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>